{% extends "base.html" %}
{% block body_class %}homepage{% endblock %}

{% block body_content %}
{% if success %}
<div class="min-h-full px-6 py-12 lg:px-8 max-w-xl mx-auto">
	<div class="p-12">
		<h2 class="text-center text-3xl font-bold leading-9 tracking-tight text-slate-900 mb-12">
			Account created
		</h2>
		<div class="flex">
			<div class="flex-shrink-0">
				<!-- feather check icon -->
				<i data-feather="check-circle" class="h-6 w-6 text-green-700 mt-1"></i>
			</div>
			<div class="ml-4">
				<h3 class="text-lg text-green-800 font-semibold">
					Your account was created successfully. Please <a href="/account/login/" class="underline text-green-600 hover:text-green-500">login</a> to continue.
				</h3>
			</div>
		</div>
	</div>
</div>
{% else %}
<div class="min-h-full px-6 py-12 lg:px-8 max-w-xl mx-auto">
	<div class="p-12">
		<h2 class="text-center text-3xl font-bold leading-9 tracking-tight text-slate-900 mb-12">Signup.</h2>
		{% if errors %}
		{% for error in errors %}
		<div class="bg-red-50 border border-red-200 rounded-md p-4 mb-10" role="alert">
			<div class="flex">
				<div class="flex-shrink-0">
					<svg class="h-4 w-4 text-red-400 mt-0.5" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
						fill="currentColor" viewBox="0 0 16 16">
						<path
							d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
					</svg>
				</div>
				<div class="ml-4">
					<h3 class="text-sm text-red-800 font-semibold">
						{{ error }}
					</h3>
				</div>
			</div>
		</div>
		{% endfor %}
		{% endif %}
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<form class="space-y-6" method="POST">
			<!-- First name -->
			<div>
				<label for="first_name" class="block text-sm font-medium leading-6 text-slate-900">First name</label>
				<div class="mt-2">
					<input name="first_name" type="text" value="{{ first_name }}" required autocomplete="first_name"
						required
						class="block w-full rounded-md border-0 py-2 px-4 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
				</div>
			</div>

			<div>
				<label for="email" class="block text-sm font-medium leading-6 text-slate-900">Email address</label>
				<div class="mt-2">
					<input name="email" type="email" value="{{ email }}" required autocomplete="email" required
						class="block w-full rounded-md border-0 py-2 px-4 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
				</div>
			</div>

			<div>
				<div class="flex items-center justify-between">
					<label for="password" class="block text-sm font-medium leading-6 text-slate-900">Password</label>
				</div>
				<div class="mt-2">
					<input id="password" name="password" type="password" autocomplete="current-password" required
						class="block w-full rounded-md border-0 py-2 px-4 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
				</div>
			</div>

			<div>
				<div class="flex items-center justify-between">
					<label for="repeat_password" class="block text-sm font-medium leading-6 text-slate-900">Repeat
						Password</label>
				</div>
				<div class="mt-2">
					<input id="repeat_password" name="repeat_password" type="password" autocomplete="current-password"
						required
						class="block w-full rounded-md border-0 py-2 px-4 text-slate-900 shadow-sm ring-1 ring-inset ring-slate-300 placeholder:text-slate-400 focus:ring-2 focus:ring-inset focus:ring-blue-600 sm:text-sm sm:leading-6">
				</div>
			</div>
			<div class="g-recaptcha" data-sitekey="6Ld3LHkpAAAAAMU-VcSZKE5p27TutVAACYVaxTrX"></div>
			<div>
				<button 
					type="submit"
					class="flex w-full justify-center rounded-md bg-blue-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-blue-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600"
					>
					Sign up</button>
			</div>
		</form>

		<p class="mt-10 text-center text-sm text-slate-500">
			Have an account?
			<a href="/account/login/" class="font-semibold leading-6 text-blue-600 hover:text-blue-500">Log In</a>
		</p>
	</div>
</div>
{% endif %}
{% endblock %}